{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 115,
    "bracketSameLine": true,
    "trailingComma": "es5",
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
        {
            "files": [
                "*.prettierrc"
            ],
            "options": {
                "parser": "json",
                "tabWidth": 4
            }
        }
    ],
    "plugins": [
        "prettier-plugin-organize-attributes",
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
