<div class="fab-container" [style.flex-direction]="layout()">
    <button
        class="mt-2"
        [color]="color()"
        [disabled]="disabled()"
        [class.mat-fab]="!isActive()"
        [class.mat-mini-fab]="isActive()"
        (click)="isActive.set(!isActive())"
        type="button"
        mat-fab>
        <mat-icon [@fabToggler]="{ value: isActive() }" [fontIcon]="icon()" />
    </button>
    @if (isActive()) {
        <div class="flexLayoutCenter" [@fabsStagger]="fabButtons().length" [style.flex-direction]="layout()">
            @for (fab of fabButtons(); track fab.id) {
                <button
                    [fragment]="fab.fragment"
                    [class.fullSVG]="!!fab.imgUrl"
                    (click)="selectFabMenu(fab)"
                    routerLink="."
                    type="button"
                    mat-fab>
                    <img class="avatar" [src]="fab.imgUrl" alt="icon" />
                </button>
            }
        </div>
    }
</div>
