@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'prismjs/plugins/toolbar/prism-toolbar.css';
@import 'prismjs/themes/prism-tomorrow';

:root {
    --trellis-forest-green: #3b963e;
    --trellis-green: #5bb25f;
    --bg: white;
}

html,
body {
    @apply flex min-h-screen w-full flex-auto flex-col antialiased;
    font-family: 'Sedan', serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--bg) !important;
    color: white;
}

div {
    router-outlet {
        + * {
            position: relative;
            display: flex;
            flex: 1 1 auto;
            width: 100%;
            z-index: 99;
            @apply px-[0.5rem] py-6 sm:px-12 md:px-20 lg:p-6;
        }
    }
}

p {
    a,
    a:hover,
    a:active,
    a:visited {
        text-decoration: revert;
        color: white;
    }
}

[data-theme='light'] {
    button {
        &:disabled {
            @apply cursor-not-allowed bg-gray-500;
        }
    }
}

.blog-post {
    .analog-markdown {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        h2 {
            font-size: 1.5rem;
            font-weight: 600;
        }

        h3 {
            font-size: 1.2rem;
            font-weight: 600;
        }

        h4 {
            font-size: 1rem;
            font-weight: 600;
        }

        ul {
            list-style: disc;
            padding-left: 1.5rem;
        }

        pre {
            font-size: 0.8rem;
        }

        code:not([class]) {
            @apply rounded-sm bg-primary px-1 text-primary-content;
        }

        a {
            text-decoration: revert;
            font-weight: 600;
        }

        ol {
            list-style: decimal;
            padding-left: 1.5rem;
        }

        blockquote {
            position: relative;
            padding: 1rem 2rem;
            margin: 2rem 0;
            font-style: italic;
            @apply border-l-4 border-primary-content bg-primary text-primary-content;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);

            /* Large quotation mark style */
            &::before {
                content: '“';
                font-size: 3rem;
                top: -10px;
                left: 10px;
                @apply absolute left-[10px] top-[-10] text-primary-content;
                opacity: 0.7;
            }
        }

        table {
            @apply table table-zebra;
        }
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-from-right {
    from {
        transform: translateX(30px);
    }
}

@keyframes slide-to-left {
    to {
        transform: translateX(-30px);
    }
}

::view-transition-old(root) {
    animation:
        200ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
        400ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
    animation:
        310ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
        400ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}
